# build output
dist/
.netlify/
.vercel/

# dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Astro files
.astro/

# IDE files
.vscode/
.idea/

# AI files
.agents/
skills-lock.json

# Environment
.env
.env.*
!.env.example

crop_favicon.py
ui.jpg
DESIGN.md